.sub-header {
  grid-area: SHE;
  background-color: var(--youtube-primary);
  display: flex;
  align-items: center;
  padding: 0 22px;
  height: 56px;
  width: 100%;
  max-width: calc(100vw - 240px);
  border-top: solid 1px #373737;
  border-bottom: solid 1px #373737;

  overflow-y: hidden;
  overflow-x: auto;


  &::-webkit-scrollbar {
    display: none;
  
  }

  // dar style a los hijos -menos al primer child
  > div:not(:first-child) {
    margin-left: 10px;
  }

  div {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    background-color: #373737;
    padding: 7px 14px;
    border-radius: 15px;
    cursor: pointer;
  }
}
