.suscriptions {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #424242;


  &__title {
    color: gray;
    font-size: 14px;
    padding:  8px 24px ; 
  }

  &__link {
    height: 40px;
    padding: 0 10px 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease-out;
    text-decoration: none;
    cursor: pointer;

    &--avatar {
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }

    span {
      color: #c4c3c3;
      font-size: 15px;
      display: inline-block;
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > svg {
      font-size: 19px;
      margin-right: 24px;
      color: #c4c3c3;
    }
    .red {
      color: red;
    }
    
    &:hover {
      background-color: #373737;

      span {
        color: white;
      }
    }
  }


  &__button {
    color: #cccccc;
    cursor: pointer;
    padding:  8px 24px;
    background-color: transparent;
    outline: none;
    border: none; 
    display: flex;
    align-items: center;
    
    
    >svg {
      font-size: 24px;
      margin-right: 24px;
    }
    
    >span {
      font-weight: bold;
      font-size: 14px;

    }

    &:hover {
      background-color: #373737;

      a {
        color: white;
      }
    }

  }
}
