//content padre
.header-youtube {
  grid-area: HEA;
  background-color: #202020;
  height: 56px;
  align-items: center;
  padding: 0px 24px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

// ***************
.nav-logo {
  color: white;
  display: flex;
  align-items: center;

  &__barra {
    font-size: 22px;
    margin-right: 20px;
  }

  &__youtube {
    width: 90px;
  }

  &__pe {
    font-size: 10px;
    color: gray;
    font-weight: 600;
    padding-bottom: 10px;
  }
}

// ***************************
.nav-search {
  width: 45%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 728px;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;

    &--input {
      width: 100%;
      background-color: #121212;
      outline: none;
      color: white;
      padding: 0 10px;
      height: 32px;
      border: 1.9px solid rgb(58, 55, 55);

      &:focus {
        border: 1.9px solid rgb(13, 91, 180);
      }
    }

    &--span {
      background-color: #313131;
      height: 32px;
      width: 65px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;

      svg {
        color: gray;
        height: 17px;
        width: 20px;
        font-size: 10px;
        &:hover {
          color: rgb(207, 198, 198);
        }
      }
    }
  }

  &__micro {
    height: 26px;
    width: 26px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
  }
}

// ***************************

.nav-icons {
  display: flex;
  align-items: center;

  &__content {
    color: white;
    display: flex;
    align-items: center;

    &--video {
      font-size: 20px;
      cursor: pointer;
    }

    &--icons {
      margin-left: 30px;
      font-size: 22px;
      cursor: pointer;
    }

    &--campana {
      width: 30px;
      height: 30px;
      margin-left: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      svg {
        font-size: 20px;
        cursor: pointer;
      }

      .numero {
        position: absolute;
        font-size: 11px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        top: 0;
        right: 0;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__avatar {
    margin-left: 20px;
    width: 36px;
    border-radius: 50%;
  }
}
